[defaults]
inventory = inventory/generated/proxmox.yml
roles_path = roles
collections_path = .ansible/collections
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
nocows = True
callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
forks = 10
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
